form,
.btn,
.fixed-width {
    &.size-50 {
        width: 100%;
        max-width: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    &.size-100 {
        width: 100%;
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    &.size-150 {
        width: 100%;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    &.size-200 {
        width: 100%;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    &.size-250 {
        width: 100%;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    &.size-300 {
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    &.size-350 {
        width: 100%;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    &.size-400 {
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    &.size-450 {
        width: 100%;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    &.size-500 {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    &.size-550 {
        width: 100%;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}
