.navbar-light {
    .navbar-nav {
        .svg-icon {
            svg {
                fill: $body-color;
            }
            @include hover-focus {
                svg {
                    fill: darken($body-color, 10%);
                }

            }
        }
    }
}

.navbar-dark {
    .navbar-nav {
        .svg-icon {
            svg {
                fill: $body-color-inverse;
            }
            @include hover-focus {
                svg {
                    fill: darken($body-color-inverse, 10%);
                }

            }
        }
    }
}

.fullscreen-close {
    svg {
        fill: $body-color-inverse;
    }
    @include hover-focus {
        svg {
            fill: darken($body-color-inverse, 10%);
        }

    }
}

.header_tall {
    .svg-icon {
        height: 80px;
        line-height: inherit;
        svg {
            height: 80px;
        }
    }
}
.header_short {
    .svg-icon {
        height: 40px;
        line-height: inherit;
        svg {
            height: 40px;
        }
    }
}


.md_svg_icon {
    fill: $brand-primary;
    width: 36px;
    height:36px;
}
.social_svg_icon {
    fill: $white;
    width: 36px;
    height:36px;
}
.social_svg_icon .svg_bg {
    fill: $brand-primary;
}
