
// @font-face {
//     font-family: 'Hack';
//     src: url('#{$font-path}/eot/latin/hack-regular-latin-webfont.eot');
//     src: url('#{$font-path}/eot/latin/hack-regular-latin-webfont.eot') format('embedded-opentype'), url('#{$font-path}/woff2/latin/hack-regular-latin-webfont.woff2') format('woff2'), url('#{$font-path}/woff/latin/hack-regular-latin-webfont.woff') format('woff'), url('#{$font-path}/web-ttf/latin/hack-regular-latin-webfont.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Hack';
//     src: url('#{$font-path}/eot/latin/hack-bold-latin-webfont.eot');
//     src: url('#{$font-path}/eot/latin/hack-bold-latin-webfont.eot') format('embedded-opentype'), url('#{$font-path}/woff2/latin/hack-bold-latin-webfont.woff2') format('woff2'), url('#{$font-path}/woff/latin/hack-bold-latin-webfont.woff') format('woff'), url('#{$font-path}/web-ttf/latin/hack-bold-latin-webfont.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Hack';
//     src: url('#{$font-path}/eot/latin/hack-italic-latin-webfont.eot');
//     src: url('#{$font-path}/eot/latin/hack-italic-latin-webfont.eot') format('embedded-opentype'), url('#{$font-path}/woff2/latin/hack-italic-latin-webfont.woff2') format('woff2'), url('#{$font-path}/woff/latin/hack-italic-latin-webfont.woff') format('woff'), url('#{$font-path}/web-ttf/latin/hack-italic-latin-webfont.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Hack';
//     src: url('#{$font-path}/eot/latin/hack-bolditalic-latin-webfont.eot');
//     src: url('#{$font-path}/eot/latin/hack-bolditalic-latin-webfont.eot') format('embedded-opentype'), url('#{$font-path}/woff2/latin/hack-bolditalic-latin-webfont.woff2') format('woff2'), url('#{$font-path}/woff/latin/hack-bolditalic-latin-webfont.woff') format('woff'), url('#{$font-path}/web-ttf/latin/hack-bolditalic-latin-webfont.ttf') format('truetype');
//     font-weight: 700;
//     font-style: italic;
// }
@font-face {
    font-family: 'Hack';
    src: url('#{$font-path}/eot/hack-regular-webfont.eot');
    src: url('#{$font-path}/eot/hack-regular-webfont.eot') format('embedded-opentype'), url('#{$font-path}/woff2/hack-regular-webfont.woff2') format('woff2'), url('#{$font-path}/woff/hack-regular-webfont.woff') format('woff'), url('#{$font-path}/web-ttf/hack-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hack';
    src: url('#{$font-path}/eot/hack-bold-webfont.eot');
    src: url('#{$font-path}/eot/hack-bold-webfont.eot') format('embedded-opentype'), url('#{$font-path}/woff2/hack-bold-webfont.woff2') format('woff2'), url('#{$font-path}/woff/hack-bold-webfont.woff') format('woff'), url('#{$font-path}/web-ttf/hack-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Hack';
    src: url('#{$font-path}/eot/hack-italic-webfont.eot');
    src: url('#{$font-path}/eot/hack-italic-webfont.eot') format('embedded-opentype'), url('#{$font-path}/woff2/hack-italic-webfont.woff2') format('woff2'), url('#{$font-path}/woff/hack-italic-webfont.woff') format('woff'), url('#{$font-path}/web-ttf/hack-italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Hack';
    src: url('#{$font-path}/eot/hack-bolditalic-webfont.eot');
    src: url('#{$font-path}/eot/hack-bolditalic-webfont.eot') format('embedded-opentype'), url('#{$font-path}/woff2/hack-bolditalic-webfont.woff2') format('woff2'), url('#{$font-path}/woff/hack-bolditalic-webfont.woff') format('woff'), url('#{$font-path}/web-ttf/hack-bolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
