$font-path:                 "assets/fonts" !default;

$black:                     #1a1a1a !default;

$gray-base:                 lighten($black, 20%) !default;
$gray-darker:               lighten($black, 30%) !default;
$gray-dark:                 lighten($black, 40%) !default;
$gray:                      lighten($black, 50%) !default;
$gray-light:                lighten($black, 60%) !default;
$gray-lighter:              lighten($black, 70%) !default;
$gray-lightest:             lighten($black, 80%) !default;

$offwhite:                  lighten($black, 83%) !default;
$offwhite-light:            lighten($black, 86%) !default;
$offwhite-lighter:          lighten($black, 89%) !default;
$white:                     #fff !default;

$brand-orange:              #f27d26 !default;
$brand-orange-dark:         darken($brand-orange, 8%) !default;
$brand-orange-light:        lighten($brand-orange, 8%) !default;

$brand-red:           	    #ed4a4f !default;
$brand-red-dark:      	    darken($brand-red, 8%) !default;
$brand-red-light:     	    lighten($brand-red, 8%) !default;

$brand-teal:                #00acc1 !default;
$brand-teal-darkest:        darken($brand-teal, 8%) !default;
$brand-teal-dark:           darken($brand-teal, 4%) !default;
$brand-teal-light:          lighten($brand-teal, 4%) !default;
$brand-teal-lightest:       lighten($brand-teal, 8%) !default;

$brand-primary:             $brand-teal !default;

$brand-success:             #26da94 !default;
$brand-info:                $brand-teal-light !default;
$brand-warning:             $brand-orange-light !default;
$brand-danger:              $brand-red-light !default;

$hover-amount-dark:         15%;
$hover-amount-default:      10%;
$hover-amount-light:        5%;

$body-bg:                   $offwhite !default;
$body-color:                $gray-dark !default;
$body-color-inverse:        $offwhite-lighter !default;

$brand-disabled-bg:         $gray-lightest !default;
$brand-disabled-border:     $gray-lighter !default;
$brand-disabled-color:      $body-color !default;


$border-color-light:        lighten($gray-light, 2%) !default;
$border-color-default:      $gray-light !default;
$border-color-dark:         darken($gray-light, 2%) !default;

$brand-border:              $border-color-default !default;
$brand-border-dark:         $border-color-dark !default;
$brand-border-light:        $border-color-light !default;

// Links
//
// Style anchor elements.
$link-color:                $brand-primary !default;
$link-decoration:           none !default;
$link-hover-color:          $brand-teal-dark !default;
$link-hover-decoration:     none !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               true !default;
$enable-rounded:            true !default;
$enable-shadows:            true !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  true !default;
$enable-grid-classes:       false !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$spacers: (
  0: (
    x:   0,
    y:   0
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  )
) !default;
$border-width:               1px !default;

$padding-base-vertical:     .25rem !default;
$padding-base-horizontal:   .5rem !default;

$padding-large-vertical:    ($padding-base-vertical * 2) !default;
$padding-large-horizontal:  ($padding-base-horizontal * 2) !default;

$padding-small-vertical:    ($padding-base-vertical * 1.5) !default;
$padding-small-horizontal:  ($padding-base-horizontal * 1.5) !default;

$padding-xs-vertical:       ($padding-base-vertical * 1) !default;
$padding-xs-horizontal:     ($padding-base-horizontal * 1) !default;



// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          1.875rem !default; // 30px


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     "Roboto", sans-serif !default;
$font-family-serif:          "Roboto Slab", sans-serif !default;
$font-family-monospace:      "Hack", monospace !default;
$font-family-base:           $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:             16px !default;

$font-size-base:             1rem !default;
$font-size-lg:               1.2rem !default;
$font-size-sm:               .9rem !default;
$font-size-xs:               .875rem !default;

$font-size-h1:               2.5rem !default;
$font-size-h2:               2.25rem !default;
$font-size-h3:               2rem !default;
$font-size-h4:               1.75rem !default;
$font-size-h5:               1.5rem !default;
$font-size-h6:               1.25rem !default;

$display1-size:               3rem !default;
$display2-size:               2.75rem !default;
$display3-size:               2.4rem !default;
$display4-size:               2.25rem !default;
$display5-size:               2rem !default;
$display6-size:               1.75rem !default;

$display1-weight:             400 !default;
$display2-weight:             400 !default;
$display3-weight:             400 !default;
$display4-weight:             400 !default;
$display5-weight:             400 !default;
$display6-weight:             400 !default;

$line-height:                1.5 !default;

$headings-margin-bottom:     ($spacer / 2) !default;
$headings-font-family:       $font-family-serif !default;
$headings-font-weight:       400 !default;
$headings-line-height:       1.1 !default;
$headings-color:             darken($body-color, 15%) !default;

$lead-font-size:             1.3rem !default;
$lead-font-weight:           400 !default;

$text-muted:                  $gray-light !default;

$abbr-border-color:           $gray-light !default;

$blockquote-small-color:      $body-color !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;
$blockquote-border-color:     $gray-lighter !default;

$hr-border-color:             $brand-primary !default;
$hr-border-width:             $border-width !default;

$dt-font-weight:              400 !default;

$nested-kbd-font-weight:      400 !default;

$list-inline-padding:         5px !default;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$border-radius:          .1rem !default;
$border-radius-lg:       .2rem !default;
$border-radius-sm:       0 !default;

$component-active-color: $offwhite-lighter !default;
$component-active-bg:    $brand-primary !default;

$caret-width:            .3em !default;
$caret-width-lg:         $caret-width !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:            .5rem !default;
$table-sm-cell-padding:         .3rem !default;

$table-bg:                      $offwhite-lighter !default;
$table-bg-accent:               $offwhite-light !default;
$table-bg-hover:                $gray-lightest !default;
$table-bg-active:               $table-bg !default;

$table-border-width:            $border-width !default;
$table-border-color:            $brand-border-light !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x:                  1.25rem !default;
$btn-padding-y:                  .375rem !default;
$btn-font-weight:                400 !default;

$btn-primary-color:              $body-color-inverse !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($brand-primary, 5%) !default;

$btn-red-color:              	 $body-color-inverse !default;
$btn-red-bg:                 	 $brand-red !default;
$btn-red-border:             	 darken($brand-red, 5%) !default;

$btn-secondary-color:            $body-color-inverse !default;
$btn-secondary-bg:               $gray-dark !default;
$btn-secondary-border:           $gray-base !default;

$btn-info-color:                 $body-color-inverse !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($brand-info, 5%) !default;

$btn-success-color:              $body-color-inverse !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($brand-success, 5%) !default;

$btn-warning-color:              $body-color-inverse !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($brand-warning, 5%) !default;

$btn-danger-color:               $body-color-inverse !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($brand-danger, 5%) !default;

$btn-link-disabled-color:        $brand-disabled-color !default;

$btn-padding-x-sm:               .75rem !default;
$btn-padding-y-sm:               .25rem !default;

$btn-padding-x-lg:               1.25rem !default;
$btn-padding-y-lg:               .75rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              $border-radius !default;
$btn-border-radius-lg:           $border-radius-lg !default;
$btn-border-radius-sm:           $border-radius-sm !default;


// Forms

$input-padding-x:                .75rem !default;
$input-padding-y:                .375rem !default;

$input-bg:                       $offwhite-lighter !default;
$input-bg-disabled:              $brand-disabled-bg !default;

$input-color:                    $body-color !default;
$input-border-color:             $brand-border-dark !default;
$input-btn-border-width:         $border-width !default; // For form controls and buttons
$input-box-shadow:               inset 0 1px 1px rgba(0,0,0,.075) !default;

$input-border-radius:            $border-radius !default;
$input-border-radius-lg:         $border-radius-lg !default;
$input-border-radius-sm:         $border-radius-sm !default;

$input-border-focus:             $brand-primary !default;
$input-box-shadow-focus:         none !default;

$input-color-placeholder:        $gray !default;

$input-padding-x-sm:             .75rem !default;
$input-padding-y-sm:             .275rem !default;

$input-padding-x-lg:             1.25rem !default;
$input-padding-y-lg:             .75rem !default;

$input-height:                   (($font-size-base * $line-height) + ($input-padding-y * 2)) !default;
$input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2)) !default;
$input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)) !default;

$form-group-margin-bottom:       $spacer-y !default;

$input-group-addon-bg:           $offwhite-light !default;
$input-group-addon-border-color: $input-border-color !default;

$cursor-disabled:                not-allowed !default;

// Form validation icons
$form-icon-success: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg==" !default;
$form-icon-warning: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+" !default;
$form-icon-danger: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=" !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-bg:                    $offwhite-lighter !default;
$dropdown-border-color:          darken($offwhite-lighter, 5%) !default;
$dropdown-border-width:          $border-width !default;
$dropdown-divider-bg:            $gray-base !default;

$dropdown-link-color:            $brand-primary !default;
$dropdown-link-hover-color:      $body-color-inverse !default;
$dropdown-link-hover-bg:         $brand-primary !default;

$dropdown-link-active-color:     $component-active-color !default;
$dropdown-link-active-bg:        $component-active-bg !default;

$dropdown-link-disabled-color:   $brand-disabled-color !default;

$dropdown-header-color:          $body-color-inverse !default;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$zindex-drawer:                  900 !default;
$zindex-navbar:                 1000 !default;
$zindex-dropdown:               1000 !default;
$zindex-popover:                1060 !default;
$zindex-tooltip:                1070 !default;
$zindex-navbar-fixed:           1030 !default;
$zindex-navbar-sticky:          1030 !default;
$zindex-modal-bg:               1040 !default;
$zindex-modal:                  1050 !default;
$zindex-panel:                  2500 !default;

// Navbar

$navbar-border-radius:              0 !default;
$navbar-padding-horizontal:         0 !default;
$navbar-padding-vertical:           0 !default;

$navbar-dark-color:                 $body-color-inverse !default;
$navbar-dark-hover-color:           $body-color-inverse !default;
$navbar-dark-active-color:          $body-color-inverse !default;
$navbar-dark-disabled-color:        lighten($brand-disabled-color, 50%) !default;

$navbar-light-color:                $body-color !default;
$navbar-light-hover-color:          $body-color !default;
$navbar-light-active-color:         $body-color !default;
$navbar-light-disabled-color:       $brand-disabled-color !default;


// Navs

$nav-link-padding:                            .5em 1em !default;
$nav-link-hover-bg:                           $gray !default;

$nav-disabled-link-color:                     $brand-disabled-color !default;
$nav-disabled-link-hover-color:               $brand-disabled-color !default;

$nav-tabs-border-color:                       $gray-lighter !default;

$nav-tabs-link-border-width:                  $border-width !default;
$nav-tabs-link-hover-border-color:            darken($brand-primary, 5%) !default;

$nav-tabs-active-link-hover-bg:               $brand-primary !default;
$nav-tabs-active-link-hover-color:            $body-color-inverse !default;
$nav-tabs-active-link-hover-border-color:     darken($brand-primary, 5%) !default;

$nav-tabs-justified-link-border-color:        $gray-lighter !default;
$nav-tabs-justified-active-link-border-color: $gray-lighter !default;

$nav-pills-border-radius:                     $border-radius !default;
$nav-pills-active-link-hover-bg:              $component-active-bg !default;
$nav-pills-active-link-hover-color:           $component-active-color !default;


// Pagination

$pagination-padding-x:                .75rem !default;
$pagination-padding-y:                .5rem !default;
$pagination-padding-x-sm:             .75rem !default;
$pagination-padding-y-sm:             .275rem !default;
$pagination-padding-x-lg:             1.5rem !default;
$pagination-padding-y-lg:             .75rem !default;


$pagination-color:                     $body-color-inverse !default;
$pagination-bg:                        $gray-base !default;
$pagination-border-width:              $border-width !default;
$pagination-border-color:              darken($pagination-bg, 5%) !default;

$pagination-hover-color:               $body-color-inverse !default;
$pagination-hover-bg:                  $brand-primary !default;
$pagination-hover-border:              darken($pagination-hover-bg, 5%) !default;

$pagination-active-color:              $pagination-hover-color !default;
$pagination-active-bg:                 $pagination-hover-bg !default;
$pagination-active-border:             darken($pagination-hover-bg, 5%) !default;

$pagination-disabled-color:            $brand-disabled-color !default;
$pagination-disabled-bg:               $brand-disabled-bg !default;
$pagination-disabled-border:           $brand-disabled-border !default;


// Pager

$pager-bg:                             $pagination-bg !default;
$pager-border-width:                   $border-width !default;
$pager-border-color:                   $pagination-border-color !default;
$pager-border-radius:                  15px !default;

$pager-hover-bg:                       $pagination-hover-bg !default;

$pager-active-bg:                      $pagination-active-bg !default;
$pager-active-color:                   $pagination-active-color !default;

$pager-disabled-color:                 $brand-disabled-color !default;


// Jumbotron

$jumbotron-padding:              2rem !default;
$jumbotron-bg:                   $offwhite !default;


// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.

$state-success-text:             $body-color-inverse !default;
$state-success-bg:               $brand-success !default;
$state-success-border:           $brand-success !default;

$state-info-text:                $body-color-inverse !default;
$state-info-bg:                  $brand-info !default;
$state-info-border:              $brand-info !default;

$state-warning-text:             $body-color-inverse !default;
$state-warning-bg:               $brand-warning !default;
$state-warning-border:           $brand-warning !default;

$state-danger-text:              $body-color-inverse !default;
$state-danger-bg:                $brand-danger !default;
$state-danger-border:            $brand-danger !default;


// Cards
$card-spacer-x:            1.25rem !default;
$card-spacer-y:            .75rem !default;
$card-border-width:        1px !default;
$card-border-radius:       2px !default;
$card-border-color:        $brand-border-light !default;
$card-border-radius-inner: $card-border-radius !default;
$card-cap-bg:              $offwhite-light !default;
$card-bg:                  $offwhite-lighter !default;

$card-link-hover-color:    $link-hover-color !default;


// Tooltips

$tooltip-max-width:           200px !default;
$tooltip-color:               $body-color-inverse !default;
$tooltip-bg:                  $gray-base !default;
$tooltip-opacity:             1 !default;

$tooltip-arrow-width:         5px !default;
$tooltip-arrow-color:         $tooltip-bg !default;


// Popovers

$popover-bg:                          $offwhite-lighter !default;
$popover-max-width:                   276px !default;
$popover-border-width:                $border-width !default;
$popover-border-color:                $brand-border-light !default;

$popover-title-bg:                    $offwhite-light !default;

$popover-arrow-width:                 10px !default;
$popover-arrow-color:                 $popover-bg !default;

$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:           fade-in($popover-border-color, 0.05) !default;


// Labels

$label-default-bg:            $gray !default;
$label-primary-bg:            $brand-primary !default;
$label-success-bg:            $brand-success !default;
$label-info-bg:               $brand-info !default;
$label-warning-bg:            $brand-warning !default;
$label-danger-bg:             $brand-danger !default;

$label-color:                 $body-color-inverse !default;
$label-link-hover-color:      darken($body-color-inverse, 10%) !default;
$label-font-weight:           400 !default;


// Modals

// Padding applied to the modal body
$modal-inner-padding:         0 !default;

$modal-title-padding:         15px !default;
$modal-title-line-height:     $line-height !default;

$modal-content-bg:            $offwhite-lighter !default;
$modal-content-border-color:  rgba(0, 0, 0, 0) !default;

$modal-backdrop-bg:           $black !default;
$modal-backdrop-opacity:      .75 !default;
$modal-header-border-color:   rgba(0, 0, 0, 0) !default;
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    85% !default;
$modal-md:                    600px !default;
$modal-sm:                    460px !default;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding:               1rem !default;
$alert-border-radius:         $border-radius !default;
$alert-link-font-weight:      400 !default;
$alert-border-width:          $border-width !default;

$alert-success-bg:            $brand-success !default;
$alert-success-text:          $body-color-inverse !default;
$alert-success-border:        darken($state-success-bg, 5%) !default;

$alert-info-bg:               $brand-info !default;
$alert-info-text:             $body-color-inverse !default;
$alert-info-border:           darken($state-info-bg, 5%) !default;

$alert-warning-bg:            $brand-warning !default;
$alert-warning-text:          $body-color-inverse !default;
$alert-warning-border:        darken($state-warning-bg, 5%) !default;

$alert-danger-bg:             $brand-danger !default;
$alert-danger-text:           $body-color-inverse !default;
$alert-danger-border:         darken($state-danger-bg, 5%) !default;


// Progress bars

$progress-bg:                 $gray-lighter !default;
$progress-bar-color:          $white !default;
$progress-border-radius:      $border-radius !default;

$progress-bar-bg:             $brand-primary !default;
$progress-bar-success-bg:     $brand-success !default;
$progress-bar-warning-bg:     $brand-warning !default;
$progress-bar-danger-bg:      $brand-danger !default;
$progress-bar-info-bg:        $brand-info !default;


// List group

$list-group-bg:                 $offwhite-lighter !default;
$list-group-border-color:       $brand-border-light !default;
$list-group-border-width:       $border-width !default;
$list-group-border-radius:      $border-radius !default;

$list-group-hover-bg:           $gray-lightest !default;
$list-group-active-color:       $body-color !default;
$list-group-active-bg:          $list-group-bg !default;
$list-group-active-border:      $list-group-border-color !default;
$list-group-active-text-color:  $body-color !default;

$list-group-disabled-color:      $brand-disabled-color !default;
$list-group-disabled-bg:         $brand-disabled-bg !default;
$list-group-disabled-text-color: $brand-disabled-color !default;

$list-group-link-color:         $brand-primary !default;
$list-group-link-hover-color:   darken($list-group-link-color, 5%) !default;
$list-group-link-heading-color: $body-color !default;


// Image thumbnails

$thumbnail-padding:           .25rem !default;
$thumbnail-bg:                $offwhite-lighter !default;
$thumbnail-border-width:      $border-width !default;
$thumbnail-border-color:      $offwhite-lighter !default;
$thumbnail-border-radius:     $border-radius !default;


// Breadcrumbs

$breadcrumb-padding-vertical:   .75rem !default;
$breadcrumb-padding-horizontal: 1rem !default;

$breadcrumb-bg:                 transparent !default;
$breadcrumb-divider-color:      darken($body-color, 15%) !default;
$breadcrumb-active-color:       darken($body-color, 15%) !default;
$breadcrumb-divider:            "/" !default;


// Carousel

$carousel-text-shadow:                        none !default;

$carousel-control-color:                      $body-color!default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  28px !default;

$carousel-indicator-active-bg:                $body-color-inverse !default;
$carousel-indicator-border-color:             $body-color-inverse !default;

$carousel-caption-color:                      $body-color-inverse !default;


// Close

$close-font-weight:           400 !default;
$close-color:                 $gray-base !default;
$close-text-shadow:           none !default;


// Code

$code-color:                  $brand-danger !default;
$code-bg:                     $offwhite-light !default;

$kbd-color:                   $body-color-inverse !default;
$kbd-bg:                      $gray-base !default;

$pre-bg:                      $offwhite-light !default;
$pre-color:                   darken($body-color, 15%) !default;
$pre-border-color:            $brand-border-light !default;
$pre-scrollable-max-height:   340px !default;
