.font-brand-primary {
    color: $brand-primary;
}

.font-gray-dark {
    color: $gray-dark;
}
.font-gray {
    color: $gray;
}
.font-gray-light {
    color: $gray-light;
}
.font-gray-lighter {
    color: $gray-lighter;
}
.font-offwhite {
    color: $offwhite;
}
.font-offwhite-light {
    color: $offwhite-light;
}
.font-offwhite-lighter {
    color: $offwhite-lighter;
}
.font-brand-success {
    color: $brand-success;
}
.font-brand-info {
    color: $brand-info;
}
.font-brand-warning {
    color: $brand-warning;
}
.font-brand-danger {
    color: $brand-danger;
}
